# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
env/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Ignore Pycharm project settings
*.pkl
*.h5
*.csv
*.db

# OS files
.DS_Store
Thumbs.db

# Model files (if you want to exclude large models)
# model.pkl
